@use "../../styles/variables";

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user {
  width: 350px;
  margin-bottom: 10px;
  align-self: center;
  border: 1px solid variables.$buttonColor;
  border-radius: variables.$radius;
  padding: 15px;
  cursor: pointer;

  @media (max-width: 480px) {
    width: 270px;
    flex-direction: column;
  }

  @media (max-width: 320px) {
    width: 200px;
  }
}

.user:hover {
  border: 3px solid variables.$buttonColor;
}

.user-info_row {
  display: flex;
  flex-direction: column;
}

.user-info-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  align-self: center;
}

.user-info_text {
  font-size: 14px;
  align-self: center;
}

.button-delete {
  background-color: variables.$buttonColor;
  padding: 10px;
  border-radius: variables.$radius;
  width: 100px;
  margin-top: 10px;
  align-self: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
