// font
$fontFamily: "Roboto", sans-serif;

// colors
$buttonColor: #ffcc33;
$blackColor: black;
$whiteColor: white;
$modalBackgoundColor: rgba(0, 0, 0, 0.8);
$greyColor: #383838;

// additional
$radius: 8px;
