@use "../styles/variables";

main {
  padding: 50px 15px 50px 15px;
  max-width: 100%;
  background: variables.$whiteColor;
  flex: 1 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-button {
  background-color: variables.$buttonColor;
  width: 130px;
  padding: 10px;
  border-radius: variables.$radius;
  align-self: center;
  margin-bottom: 15px;
}
