@use "../../styles/variables";

.search-wrapper {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 350px;
  padding: 15px;
  border: 1px solid variables.$blackColor;
  border-radius: variables.$radius;
  margin-bottom: 15px;
}
